* {
    margin: 0;
    padding: 0;
}

.atomic {
    font-size: .8rem;
}

.symbol {
    font-size: 1.3rem;
}

.name {
    font-size: .69rem;
    overflow-wrap: break-word;
}

.weight {
    font-size: .69rem;
}

.element {
    --size: 55px;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: #434343;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: var(--size);
    width: var(--size);
    transition: .25s ease;
}

.flip-inner {
    position: relative;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .6s;
    transform-style: preserve-3d;
}

.element:hover .flip-inner {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-front {
    background-color: #343434;
}

.flip-back {
    background-color: #434343;
    transform: rotateY(180deg);
}